<section class="admin-products-index">
  <header class="page-header">
      <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered" style="text-align: center">
      <thead>
        <tr>
          <th style="text-align: center"><h3>Total Products</h3></th>
          <th style="text-align: center"><h3>Total Categories</h3></th>
          <th style="text-align: center"><h3>Current Sale</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h2>
              <%= @products_count %>
            </h2>
          </td>
          <td>
            <h2>
              <%= @categories_count %>
            </h2>
          </td>
          <td>
            <h2>
              <%= @sales_active %>
            </h2>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>

</section>